<button v-on:click="debug" class="btn">Debug</button>
<div v-if="isDebugging">
    <label>Enter your bot token</label>
    <input v-model="token" type="password" class="form-control">
    <button v-on:click="tokenLogin(token)" class="btn">Start</button>
    <p>FPS: ((fps))</p>
    <label>Team</label>
    <select v-model="selectedTeam" class="form-control">
        <option v-for="team in teams" v-bind:value="team">
            ((team))
        </option>
    </select>
    <label style="width: 100%;">From</label>
    <input v-model="moveFrom" class="form-control">
    <label>To</label>
    <input v-model="moveTo" class="form-control">
    <label>Amount</label>
    <input v-model="amount" class="form-control">
    <div class="row">
        <div class="col">
            <button v-on:click="move" class="btn">Move</button>
        </div>
        <div class="col">
            <button v-on:click="retreat" class="btn">Retreat</button>
        </div>
        <div class="col">
            <button v-on:click="upgrade" class="btn">Upgrade</button>
        </div>
    </div>
</div>