@font-face {
    font-family: "Cascadia Code";
    src: url("../fonts/Cascadia.ttf") format('truetype')
}
:root
{
    --whiteText: #d8d8d8;
    --tanText: #ffefc8;
    --grayBackground: #323639;
    --orangeText: #e29236;
    --blackBackground: #302f2f;
}


div.break {
    border-top: solid 1px var(--tanText);
    margin-bottom: 10px;
}

div.line-item {
    margin-bottom: 10px;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: var(--orangeText);
}
.navbar-dark .navbar-nav .nav-link {
    color: var(--tanText);
}

.navbar-dark .navbar-brand {
    color: var(--tanText);
}

.btn {
    background-color: var(--blackBackground);
    border: solid 1pt var(--orangeText);
    color: var(--tanText);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
}

.grayCard {
    background-color: var(--grayBackground);
}

body {
    margin: 60px auto;
    width: 70%;
    background-color: var(--blackBackground);
    font-family: 'Cascadia Code';
    color: var(--tanText);
}



nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: var(--tanText);
}

.scard {
    margin: 10px;
    padding: 10px;
    background-color: var(--grayBackground);
}

a.link {
    text-decoration: underline;
    color: var(--orangeText);
}
a.link:hover {
    text-decoration: underline;
    color: var(--tanText);
}
a:hover {
    background-color: var(--orangeText);
}
h1 {
    font-size: 48px;
    font-family: 'Cascadia Code';
    color: var(--tanText);
}

h2 {
    font-size: 37px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 23px;
}

p {
    font-family: 'Cascadia Code';
    font-size: 23px;
    color: var(--tanText);
}
footer {
    border-top: 1px solid var(--tanText);
    font-size: .8em;
    font-family: 'Cascadia Code';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


