@font-face {
    font-family: "Cascadia Code";
    src: url("../fonts/Cascadia.ttf") format('truetype')
}
html
{
    --whiteText: #d8d8d8;
    --tanText: #ffefc8;
    --grayBackground: #323639;
    --grayBackgroundTran: rgba(50, 54, 57, 0.691);
    --orangeText: #e29236;
    --blackBackground: #302f2f;
    --foregroundText: #ffefc8;
    --empty-contrast: 100%;
}

html[data-theme="light"] {
    --whiteText: #302f2f;
    --tanText:  #323639;
    --grayBackground: #dadada;
    --grayBackgroundTran: #dadadab0;
    --orangeText: #e29236;
    --blackBackground: #ffffff;
    --foregroundText: #d8d8d8;
    --empty-contrast: 0%;
}

.left-column {
    float: left;
    width: 75%;
    padding-left: 3em;
}

.right-column {
    float: left;
    width: 25%;
    padding-right: 1em;
}

@media screen and (max-width: 800px) {
    .left-column, .right-column {
      width: 100%;
      padding-left: 3em;
    }
  }

.fa {
    color: var(--tanText);
}
.empty {
    background-color: var(--blackBackground);
    filter: contrast(var(--empty-contrast));
}

.foreground {
    color: var(--foregroundText);
}

textarea {
    min-width: 100px;
    min-height: 300px;
    white-space: nowrap;
    overflow: auto;
}

.blog {
    line-height: 200%;
}

.blog > h2, .blog > h1 {
    color: var(--orangeText);
}

.blog > p > img {
    width: 100%;
}



.wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-width: 1%;
}


@media (min-width: 34em) {
    .card-columns.x {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns.x {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 62em) {
    .card-columns.x {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 75em) {
    .card-columns.x {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}


.special {
    color: var(--orangeText);
}

div.break {
    border-top: solid 1px var(--tanText);
    margin-bottom: 10px;
}

div.line-item {
    margin-bottom: 10px;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: var(--orangeText);
}
.navbar-dark .navbar-nav .nav-link {
    color: var(--tanText);
}

.navbar-dark .navbar-brand {
    color: var(--tanText);
}

.btn {
    background-color: var(--blackBackground);
    border: solid 1pt var(--orangeText);
    color: var(--tanText);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
}


.card {
    border-width: 0px;
    -webkit-box-shadow: 5px 5px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 21px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 21px -5px rgba(0,0,0,0.75);
}

.grayCard {
    background-color: var(--grayBackground);
}

.justify {
   justify-content: center;   
}

.bgImgCenter{
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
}
body {
    background-color: var(--blackBackground);
    font-family: 'Cascadia Code';
    color: var(--tanText);
}



nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: var(--tanText);
}

.tagcard {
    background-color: var(--orangeText);
    border-color: var(--blackBackground);
    border-width: 1px;
    color: var(--blackBackground);
    margin: 10px;
    padding: 10px;
    display: block;
}

.tagcard > * {
    color: var(--blackBackground);
    font-size: x-small;
}

.tagcard-link {
    color: var(--blackBackground)
}
.scard {
    margin: 10px;
    padding: 10px;
    background-color: var(--grayBackground);
}

.scard.trans {
    background-color: var(--grayBackgroundTran);
}




.center img {        
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
a.link {
    text-decoration: underline;
    color: var(--orangeText);
}
a.link:hover {
    text-decoration: underline;
    color: var(--tanText);
}
a:hover {
    background-color: var(--orangeText);
}

.blog a {
    text-decoration: underline;
    color: var(--orangeText);
}

.blog a:hover {
    text-decoration: underline;
    color: var(--grayBackground);
}

pre {
    padding: 1%;
    color: var(--tanText);
}

h1 {
    font-size: 2.5em;
    font-family: 'Cascadia Code';
    color: var(--tanText);
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

p {
    font-family: 'Cascadia Code';
    font-size: 1em;
    color: var(--tanText);
}
footer {
    border-top: 1px solid var(--tanText);
    font-size: .8em;
    font-family: 'Cascadia Code';
    padding: 5px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


