


.gamebtn {
    padding: 10px;
    margin: 10px;
}

.cell {
    font-size: 5vw;
    text-align: center;
    display: block;
    flex: 1 1 auto;
    line-height: 5vw;
    border-color: white;
    border-style: solid;
    margin: 1%;
    padding: 1%;
    width: 100%;
    min-height: 5vw;
}


.grid {
    width: 70%;
}

@media only screen and (max-width: 768px) {
    .grid {
        width: 100%;
    }
}




.gridrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0px;
}

.cell-empty {
    background-color: black;
}

.cell-value {
    background-color: white;
    color: black;
}

.grid {
    overflow: hidden;
}

.gridrow {
    overflow: hidden;
}
