---
layout: default
title: Autumn Evans
---

<div class="bgImgCenter " style="padding: 3%;background-image: url('/assets/images/header.png');">
	<img src="/assets/images/profile_award.png" class="img-fluid">
	<h1 class="foreground">Autumn Evans</h1>
	<h3 class="foreground">Full stack developer, gamer, <a class="link" href="/about/">and more</a></h3>
	<p id="typewriter" class="m-4 foreground"></p>
    {% include github_follow.html %}
</div>
<div class="container">
	<div class="row">
		{% for category in site.categories %}

			{% if category[0] == "project" %}
				{% assign projects = category[1] %}
				{% include list.html title='Projects' url='/projects' items=projects %}
			{% endif %}
		{% endfor %}
	</div>
	<div class="row">
		<!-- <div class="col-md scard d-flex align-items-center" style="text-align: center;">
			<div class="row">
				<div class="col-auto" style="padding-bottom: 5%;padding-right: 30%;padding-left: 30%;">
					<img class="img-fluid" src="assets/images/plagueforce.jpg" alt="plagueforce">
				</div>
				<div class="col">
					<h2>Play Plagueforce now!  Available for <a class="link" href="https://play.google.com/store/apps/details?id=com.evanssoftware.coronaforce">Android</a> or <a class="link" href="https://chrisevans9629.itch.io/plagueforce">play in your browser!</a></h2>
				</div>
			</div>
		</div> -->


		{% for category in site.categories %}

			{% if category[0] == "game" %}
				{% assign games = category[1] %}
				{% include list.html title='Games' url='/games' items=games %}

			{% endif %}
		{% endfor %}


	</div>
	
</div>

<script src="/js/index.js"></script>
