---
layout: default
title: Chris Evans
---

<!-- <img src="/assets/Image 2.png"> -->

<div class="bgImgCenter" style="padding: 3%;background-image: url('/assets/Group\ 271.png');">
	<img src="/assets/NoPath.png" class="img-fluid">
	<h1>Chris Evans</h1>
	<h3>Full stack developer, gamer, <a class="link" href="/about/">and more</a></h3>
	<h1 id="typewriter" class="m-4"></h1>
    {% include github_follow.html %}
</div>
<div class="container">
	<div class="row">
		{% include list.html title='Projects' url='/projects' items=site.data.projects %}
	</div>
	<div class="row">
		<div class="col-md scard d-flex align-items-center" style="text-align: center;">
			<div class="row">
				<div class="col-auto" style="padding-bottom: 5%;padding-right: 30%;padding-left: 30%;">
					<img class="img-fluid" src="assets/plagueforce.png" alt="plagueforce" >
				</div>
				<div class="col">
					<h2>Play Plagueforce now!  Available for <a class="link" href="https://play.google.com/store/apps/details?id=com.evanssoftware.coronaforce">Android</a> or <a class="link" href="https://chrisevans9629.itch.io/plagueforce">play in your browser!</a></h2>
				</div>
			</div>
		</div>
	    {% include list.html title='Games' url='/games' items=site.data.games %}
		
	</div>
</div>

<script src="/index.js"></script>
