---
layout: post
title: Virus Simulator
date: 2020-05-03
description: Simulating the spread of viruses using the SIR model with vuejs & chartjs
category: project
tags: [vuejs,chartjs]
---
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="app">
    <div class="form-group">
        <label> Days</label>
        <input type="range" min="1" max="365" v-model="days">
        <p>((days))</p>
    </div>
    <div class="form-group">
        <label>Infection Chance</label>
        <input type="range" min="0.01" max="1" step="0.01" v-model="r0">
        <p>((r0*100))%</p>
    </div>
    <div class="form-group">
        <label>Recovery Time</label>
        <input type="range" min="1" max="30" step="1" v-model="recoveryTime">
        <p>((recoveryTime)) Days</p>
    </div>
    <div class="form-group">
        <label>Death Rate</label>
        <input type="range" min="0.000001" max="1" step="0.000001" v-model="deathrate">
        <p>((deathrate*100))%</p>
    </div>
    <div class="form-group">
        <label>Infected</label>
        <input type="range" min="1" max="5000" step="1" v-model="infected_start">
        <p>((infected_start))</p>
    </div>
    <div class="form-group">
        <label>Susceptible</label>
        <input type="range" min="1" max="5000" step="1" v-model="s">
        <p>((s))</p>
    </div>
    <div>
        <button class="btn" v-on:click="calculate">Calculate</button>
    </div>
</div>

<script>
    var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!',
    days: 60,
    r0: 0.5,
    s: 1000,
    infected_start: 1,
    recoveryTime: 14,
    deathrate: 0.01,
  },
  delimiters: ["((","))"],
  methods: {
      calculate: function() {
          myChart.data = setupData();
          let s = 1;
          let i = this.infected_start / this.s;
          let b = this.r0;
          let k = 1 / this.recoveryTime;
          let recovered = 0;
          let pop = i + s + recovered;
          let dr = this.deathrate * k;
          let d = 0;
          for (let index = 0; index < this.days; index++) {
            addData(myChart,"Day " + index,i * this.s, s * this.s, recovered * this.s, d * this.s);
            //infect rate * pop * current infected;
            let ns = s - (b * s * i);


            let ni = i + (b * s * i - (k * i + dr * i));
            
            let nr = recovered + (k * i - dr * i);

            let nd = d + (dr * i);
            s = ns;
            i = ni;
            recovered = nr;
            d = nd;
          }
      },
      

  }
})
</script>

<canvas id="myChart" ></canvas>

<style>
    :root {
        --infected-color: #bb393986;
        --susceptible-color: #c2c5259f;
        --recovered-color: #3939d3ad;
        --death-color: #291515bc;
    }
</style>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: setupData(),
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
function addData(chart, label, data, sus, rec, deaths) {
    chart.data.labels.push(label);

    
    chart.data.datasets.forEach((dataset) => {
        if(dataset.label == "Infected"){
            dataset.data.push(data);
        }
        if(dataset.label == "Susceptible"){
            dataset.data.push(sus);
        }
        if(dataset.label == "Recovery"){
            dataset.data.push(rec);
        }
        if(dataset.label == "Deaths"){
            dataset.data.push(deaths);
        }
    });
    chart.update();
}

function removeData(chart) {
    chart.data.labels.pop();
    chart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
    });
    chart.update();
}

function setupData() {
    return {
        labels: [],
        datasets: [{
            label: 'Infected',
            data: [],
            backgroundColor: '#bb393986',
            borderColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        },
        {
            label: 'Susceptible',
            data: [],
            backgroundColor: '#c2c5259f'
        },
        {
            label: 'Recovery',
            data: [],
            backgroundColor: '#3939d3ad'
        },
        {
            label: 'Deaths',
            data: [],
            backgroundColor: '#291515bc'
        }]
    };
}

setupData(myChart);
</script>