    
<script src="/assets/bridge/2048/bridge.js"></script>
<script src="/assets/bridge/2048/bridge.meta.js"></script>
<script src="/assets/bridge/2048/Bridge2048.js"></script>
<script src="/assets/bridge/2048/Bridge2048.meta.js"></script>
<script src="/assets/bridge/2048/hammer.min.js"></script>

<link href="/assets/bridge/2048/game.css" rel="stylesheet"/>
<div>
    <p>Use wasd, swipe, or arrow keys to play</p>
</div>
<h3 id="game-notify"></h3>
<div id="toolbar">

</div>
<div id="game" class="grid">

</div>