<div class="row scard" style="margin-bottom: 10px;">
    <div class="col">
        <div class="row">
            {% if include.image %}
            <div class="col-auto">
                <a href="{{include.url}}"><img style="width: 200px;" src="{{include.image}}"></a>
            </div>
            {% endif %}
            <div class="col">
                <a href="{{include.url}}" class="special"><h2>{{include.title}}</h2></a> 
                <p class="meta">{{ include.date | date_to_string }}</p>
                <p>{{include.description}}</p>
                <div class="row">
                    {% for btn in include.buttons %}
                    <div class="col-auto">
                        <a class="btn" href="{{btn.url}}">{{btn.title}}</a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>