<div class="card" >
    <img class="card-img-top" src="{% if include.image %}{{include.image}}{% else %}/assets/empty.png{% endif %}" alt="{{include.caption}}">
    <div class="card-img-overlay d-flex align-items-end" style="padding: 0px;">
    <div class="scard trans d-flex flex-fill" style="margin: 0px;">
            {% if include.url %}
                <p><a href="{{include.url}}">{{include.caption}}</a></p>
            {% else %}
                <p>{{include.caption}}</p>
            {% endif %}
        </div>
    </div>
</div>