<div class="card" >
    {% if include.image %}
        <img class="card-img-top" src="{{include.image}}" alt="{{include.caption}}">
    {% else %}
        <img class="card-img-top empty" src="/assets/images/empty.png" alt="{{include.caption}}">
    {% endif %}
    <div class="card-img-overlay d-flex align-items-end" style="padding: 0px;">
        <div class="scard trans d-flex flex-fill" style="margin: 0px;">
            <p class="meta">{{ include.date | date_to_string }}</p>

            {% if include.url %}
            <p><a href="{{include.url}}">{{include.caption}}</a></p>
            {% else %}
            <p>{{include.caption}}</p>
            {% endif %}

        </div>
    </div>
</div>