
<script src="/assets/bridge/minesweeper/bridge.js"></script>
<script src="/assets/bridge/minesweeper/bridge.console.js"></script>
<script src="/assets/bridge/minesweeper/bridge.meta.js"></script>
<script src="/assets/bridge/minesweeper/Minesweeper.js"></script>
<script src="/assets/bridge/minesweeper/Minesweeper.meta.js"></script>
<link rel="stylesheet" href="/assets/bridge/minesweeper/game.css" />

<div id="game" class="game">
    <h1 id="result"></h1>
    <canvas id="board" width="600" height="600">
    </canvas>
    <div>
        <button class="gamebtn btn" id="flag">Flag</button>
        <button class="gamebtn btn" id="reset">Reset</button>
        <p id="flagtext">Flag: false</p>
        <h1 id="score">Score: 0</h1>
    </div>
</div>
