<script src="{{ site.baseurl }}/assets/unity/{{page.unity_dir}}/TemplateData/UnityProgress.js"></script>  
<script src="{{ site.baseurl }}/assets/unity/{{page.unity_dir}}/Build/UnityLoader.js"></script>
<link rel="stylesheet" href="/css/main.css">

<link rel="stylesheet" href="/css/page__unity.css">


<div class="webgl-content">
    <div id="gameContainer"></div>
    <div class="row">
        <h3 class="col" id="percent">0%</h3>
        <div class="col d-flex justify-content-end">
            <img alt="Fullscreen" src="\assets\unity\plagueforce\TemplateData\fullscreen.png" onclick="unityInstance.SetFullscreen(1)" />
        </div>
    </div>
    
</div>

<script>
  var unityInstance = UnityLoader.instantiate("gameContainer", "{{ site.baseurl}}/assets/unity/{{page.unity_dir}}/Build/{{page.unityname}}.json",{onProgress: UnityProgress});  
  function UnityProgress(gameInstance, progress) {
    if (!gameInstance.Module) {
      return;
    }
    const loader = document.querySelector("#percent");
      if (!gameInstance.progress) {
          loader.textContent = "0%";
      }
      loader.textContent = (progress * 100) + "%"; 
    if (progress === 1 && !gameInstance.removeTimeout) {
      gameInstance.removeTimeout = setTimeout(function() {
          loader.textContent = "";
      }, 2000);
    }
  }
</script>
 


