---
layout: default
title: About
---
<div class="container-fluid" style="width: 90%;">
    <div class="row">
        <div class="col scard">
            <div class="row">
                <div class="col-sm-auto">
                    <img src="/assets/NoPath - Copy (4).png">
                </div>
                <div class="col">
                    <div class="center">
                        <h1>{{site.data.profile.name}}</h1>
                        <h2>{{site.data.profile.title}}</h2>
                        <div class="row">
                            <div class="col">
                                Instagram
                            </div>
                            <div class="col">
                                Facebook
                            </div>
                            <div class="col">
                                LinkedIn
                            </div>
                            <div class="col">
                                Github
                            </div>
                            <div class="col">
                                Twitter
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col scard">
            <p>
                > I am Chris Evans, and I love building things...<br>
                > Welcome to my page, and I hope you'll enjoy your stay...<br>
                <br>
                What do you think?<br>
                1. This is great!<br>
                2. This is ok<br>
                3. Meh...<br>
                <br>
                >
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col scard">
            <h1>Skills</h1>
            {% for type in site.data.profile.skill-types %}
                <h2>{{type.name}}</h2>
                {% for skill in type.skills %}
                    <p>=> {{skill}}</p>
                {% endfor %}
            {% endfor %}
            <a class="btn" href="/projects/">See them in Action!</a>
        </div>
    </div>
</div>
