<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
					{% for i in site.urls %}
						<li class="nav-item">
							{% if page.url == i.url %}
								<a class="nav-link" href="{{ site.url}}{{site.baseurl}}{{ i.url }}">=>{{ i.text }}</a>
							{% else %}
								<a class="nav-link" href="{{ site.url}}{{site.baseurl}}{{ i.url }}">{{ i.text }}</a>
							{% endif %}
						</li>
					{% endfor %}
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:chrisevans9629@gmail.com">email</a></li>
	        		<li><a href="https://github.com/chrisevans9629">github.com/chrisevans9629</a></li>
				</ul>
			</footer>
		</body>
	</html>
